@import "./reset";

nav {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: #31c27c;

    a {
        height: 100%;
        line-height: 50px;
        padding: 0 5px;
        color: #eee;
        &.active {
            color: #FFF;
            font-weight: bold;
        }
    }
}

.slide-fade {
    &-enter {
        opacity: 0;
        transform: translateX(-30px);
    }
    &-enter-active, &-leave-active {
        transition: all .5s ease;
    }
    &-leave {
        opacity: 0;
    }
}

.content {
    position: relative;
    .page-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
